<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.kuranado</string>
	<key>connections</key>
	<dict>
		<key>0359F8EF-6170-4924-A80F-34A53C907FA3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C787371A-C354-4E89-AB0E-E4472ABCA205</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1DBF94DC-FE7D-4A3F-918A-5D763EE25111</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E1368BC6-14FC-416C-B47B-61ACB20407D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E1368BC6-14FC-416C-B47B-61ACB20407D0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7569240F-8E65-4ED8-97CB-27504B2BBCA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0640E789-8765-4024-A969-2F15B0E74EEB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Xinling Jing</string>
	<key>description</key>
	<string>表情包搜索应用</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Emoji</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>表情</string>
				<key>title</key>
				<string>已复制</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7569240F-8E65-4ED8-97CB-27504B2BBCA6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>40</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>K</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1DBF94DC-FE7D-4A3F-918A-5D763EE25111</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>k</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>搜索中...</string>
				<key>script</key>
				<string>python emoji.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>请输入关键字</string>
				<key>title</key>
				<string>表情包搜索</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E1368BC6-14FC-416C-B47B-61ACB20407D0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./copy_file_to_clipboard {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0640E789-8765-4024-A969-2F15B0E74EEB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>正在查询是否有新版本...</string>
				<key>script</key>
				<string>python update.py</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>更新表情包搜索应用</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C787371A-C354-4E89-AB0E-E4472ABCA205</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>update</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>更新表情包搜索应用</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0359F8EF-6170-4924-A80F-34A53C907FA3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## 表情包搜索应用

1. 左侧的 cache_path 为表情包图片的缓存路径，默认值为 /Users/yourusername/.emoji/，若想将表情包图片缓存到其它目录，请填写 cache_path 值为对应目录，如填写 cache_path 为 /tmp/emoji/，则图片以后将被缓存到 /tmp/emoji/ 目录
2. 配置唤醒快捷键，如无快捷键冲突，建议配置为 `Option + K`
3. 使用上一步配置的快捷键唤起工作流脚本，输入关键词搜索表情包
4. 上下键选择表情包，回车键复制表情包，回车后，选中的表情图片将被自动拷贝到剪贴板（选择表情包时，可按 Shift 放大预览图片）
5. 回到微信、QQ 等聊天界面，`Command + V` 粘贴表情包</string>
	<key>uidata</key>
	<dict>
		<key>0359F8EF-6170-4924-A80F-34A53C907FA3</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
		<key>0640E789-8765-4024-A969-2F15B0E74EEB</key>
		<dict>
			<key>xpos</key>
			<integer>725</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>1DBF94DC-FE7D-4A3F-918A-5D763EE25111</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>7569240F-8E65-4ED8-97CB-27504B2BBCA6</key>
		<dict>
			<key>xpos</key>
			<integer>725</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>C787371A-C354-4E89-AB0E-E4472ABCA205</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
		<key>E1368BC6-14FC-416C-B47B-61ACB20407D0</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>cache_path</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.8</string>
	<key>webaddress</key>
	<string>emoji.kuranado.com</string>
</dict>
</plist>
